<li>
  <strong class="pretty-number daily-downloads">{{downloads.day.downloads}}</strong>
  {{pluralize downloads.day.downloads "downloads"}} in the last day
</li>
<li>
  <strong class="pretty-number weekly-downloads">{{downloads.week.downloads}}</strong>
  {{pluralize downloads.week.downloads "downloads"}} in the last week
</li>
<li>
  <strong class="pretty-number monthly-downloads">{{downloads.month.downloads}}</strong>
  {{pluralize downloads.month.downloads "downloads"}} in the last month
</li>
